<ul>
  <% @workouts.each do |workout| %>
    <li><%= link_to workout.name, user_workout_path(workout.user, workout) %> by <%= workout.user.username %></li>
    <%= workout.description %>
  <% end %>
</ul>


<%= link_to "Create a new workout!", new_user_workout_path(current_user) %>
