<ul>
  <% @workouts.each do |workout| %>
    <% if !workout.private %>
      <li><%= link_to workout.name, user_workout_path(workout.user, workout) %> by <%= link_to workout.user.username, user_workouts_path(workout.user) %></li>
      <%= workout.description %>
    <% end %>
  <% end %>
</ul>


<%= link_to "Create a new workout!", new_user_workout_path(current_user) %>
